<div class="login-container">
  <div class="login-form">
    
    
      <mat-card class="perfil-card">

        <h2>Ingresar</h2>
        
        <div class="form-field">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="Correo electrónico"
              formControlName="email"
            />
            <mat-error *ngIf="perfilForm.get('email')?.hasError('required')">
              El email es obligatorio
            </mat-error>
            <mat-error *ngIf="perfilForm.get('email')?.hasError('email')">
              Ingresa un email válido
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-field">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Contraseña</mat-label>
            <input
              matInput
              placeholder="Nueva contraseña"
              type="password"
              formControlName="contraseña"
            />
            <mat-error
              *ngIf="perfilForm.get('contraseña')?.hasError('required')"
            >
              La contraseña es obligatoria
            </mat-error>
            <mat-error
              *ngIf="perfilForm.get('contraseña')?.hasError('minlength')"
            >
              La contraseña debe tener al menos 6 caracteres
            </mat-error>
          </mat-form-field>
        </div>

        <div class="social-login">
          <p>O iniciar sesión con una red social</p>
          <button mat-button class="social-button google">Google</button>
          <button mat-button class="social-button facebook">Facebook</button>
        </div>

        <div class="forgot-password">
          <a href="#">¿Olvidaste tu contraseña?</a>
        </div>

        <div class="forgot-password">
          <button mat-button class="login-ingresar">Ingresar</button>
        </div>

      </mat-card>

  </div>
</div>
