@use 'sass:map';
@use '@angular/material' as mat;
@use '../../../m3-theme' as *; // Ruta al archivo donde está tu paleta de colores

/* Contenedor principal */
.container {
  display: flex;
  height: 80vh; // Ocupa toda la altura del viewport
  gap: 20px; // Espaciado entre la barra lateral y el contenido
}

/* Sidebar */
app-nav-list {
  flex: 0 0 250px; // Sidebar siempre ocupa 250px
  background-color: map.get(map.get($palettes, primary), 50); // Color del nav
  height: 100vh; // Asegura que la barra de navegación cubra toda la altura
}

.view-medication-container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #4A90E2;
  }
  
  .medication-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .medication-card {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .mat-card-header {
    background-color: #E0F7FA;
  }
  
  .mat-card-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .mat-button {
    color: #4A90E2;
  }
  