<!-- src/app/nav-list/nav-list.component.html -->
<div>
<mat-nav-list class="sidebar">
    <mat-list-item routerLink="/landing" routerLinkActive="active">
      <mat-icon>alarm</mat-icon>
      <span>Ver Alarmas</span>
    </mat-list-item>
    <mat-list-item routerLink="/crear-alarmas" routerLinkActive="active">
      <mat-icon>add_alarm</mat-icon>
      <span>Crear Alarmas</span>
    </mat-list-item>
    <mat-list-item routerLink="/estadisticas" routerLinkActive="active">
      <mat-icon>analytics</mat-icon>
      <span>Estadísticas</span>
    </mat-list-item>
    <mat-list-item routerLink="/historial" routerLinkActive="active">
      <mat-icon>history</mat-icon>
      <span>Historial</span>
    </mat-list-item>
    <mat-list-item routerLink="/medicamentos" routerLinkActive="active">
      <mat-icon>medication</mat-icon>
      <span>Medicamentos</span>
    </mat-list-item>
    <mat-list-item routerLink="/editar-perfil" routerLinkActive="active">
      <mat-icon>person</mat-icon>
      <span>Perfil</span>
    </mat-list-item>
  </mat-nav-list>
</div>