<!-- landing.component.html -->

<div class="login-register-buttons">
    <button mat-stroked-button>Ingresar</button>
    <button mat-stroked-button class="btn-personalizado">Registrarse</button>
  </div>
  
  <div class="content-container">
    <mat-grid-list cols="2" rowHeight="650px" gutterSize="0px">
      <mat-grid-tile>
        <div class="image-container">
          <div class="Alarme-logo-landing-page-container">
            <img src="images/Alarme-logo-landing-page.svg" alt="AlarMe Logo" class="logo-image" />
          </div>
          <div class="landing-page-image-meds-container">
            <img src="images/landing-page-image-meds.svg" alt="Medicamentos" class="landing-page-image-meds" />
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="text-content">
          <h1 class="h1-welcome-text">Toma tus <br /> medicamentos a <br />tiempo con AlarMe</h1>
          <p class="p1-welcome-text">Olvídate de olvidarte, toma seguimiento de tu salud.</p>
          <button mat-stroked-button class="btn-personalizado">
            <mat-icon class="mat-icon-forward">arrow_forward</mat-icon>Registrarse
          </button>
          <button mat-stroked-button color="white">Descarga la App</button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  