<!-- footer.component.html -->
<footer class="app-footer">
    <div class="logo-container">
        <img src="images/alarme_logo-footer.png" alt="AlarMe Logo" class="footer-logo">
    </div>

    <div class="social-icons-container">
      <button mat-icon-button>
        <mat-icon svgIcon="facebook"></mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon svgIcon="twitter"></mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon svgIcon="instagram"></mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon svgIcon="linkedin"></mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon svgIcon="youtube"></mat-icon>
      </button>
    </div>
</footer>
  