/*edit-profile.component.scss*/
@use 'sass:map';
@use '@angular/material' as mat;
@use '../../../m3-theme' as *;

.container {
  display: flex;
  height: 75vh; // Ocupa toda la altura del viewport
  gap: 20px; // Espaciado entre la barra lateral y el contenido
}

app-nav-list {
  flex: 0 0 250px; // Asigna un ancho fijo a la barra de navegación
  background-color: map.get(map.get($palettes, primary), 50); // Color del nav
}

.content {
  flex-grow: 1; // El contenido principal ocupará el resto del espacio disponible
  padding: 20px; // Añade un poco de padding para el contenido principal
}

h2 {
  color: map.get(map.get($palettes, primary), 40); // Color de los títulos
  font-weight: 600;
  margin-bottom: 20px;
}
.perfil-title {
  color: map.get(map.get($palettes, primary), 40); // Color de los títulos
  font-weight: 600;
  margin-bottom: 20px;
}
.notificaciones-title {
  color: map.get(map.get($palettes, primary), 40); // Color de los títulos
  font-weight: 600;
  margin-bottom: 20px;
}

/* Layout de dos columnas */
.content-columns {
  display: flex;
  gap: 20px; // Espaciado entre las columnas izquierda y derecha
}

.perfil-card {
  flex: 1; // La columna izquierda ocupa el espacio que necesita
  background-color: map.get(map.get($palettes, primary), 50); // Fondo de las tarjetas
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); // Sombra de las tarjetas

  /* Centrando los divs dentro del formulario */
  display: flex;
  flex-direction: column;
  justify-content: center; // Centrado verticalmente
  align-items: center; // Centrado horizontalmente
}

/* Aseguramos que los form-fields dentro de div se alineen uno debajo del otro */
.form-field {
  margin-bottom: 20px; // Espacio entre cada campo de formulario
  width: 100%; // Cada campo debe ocupar el 100% del ancho del contenedor
}

.mat-form-field {
  width: 100%; // Asegura que los campos ocupen el 100% del espacio disponible
}

.right-column {
  display: flex;
  flex-direction: column; // Asegura que las tarjetas de la derecha estén apiladas
  gap: 20px; // Espaciado entre las tarjetas de notificaciones
  flex: 1; // La columna derecha también ocupa espacio flexible
}

.preferencias-card {
  background-color: map.get(map.get($palettes, primary), 50); // Fondo de las tarjetas de preferencias
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.button-group {
  margin-top: 20px;
  display: flex;
  justify-content: center; // Centrando los botones
  gap: 20px; // Espacio entre los botones
}

.mat-checkbox {
  display: block;
  margin-bottom: 10px;
}
